.comment.clearfix
	.profile
		%p.comment_author
			from: 
			= comment.user.username if comment.user
			%br/
			posts:
			= @post.user.posts.count
			%br/
			member since:
			%br/
			%small= @post.user.created_at.strftime("%d %b. %Y")
	.content
		%p.comment_content= comment.comment

		- if comment.user == current_user
			.buttons
				= link_to "Edit", edit_post_comment_path(comment.post, comment)
				= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "are you sure?"}