#post_content
	.comment.clearfix
		.profile
			%p.comment_author
				from: 
				= @post.user.username
				%br/
				posts:
				= @post.user.posts.count
				%br/
				member since:
				%br/
				%small= @post.user.created_at.strftime("%d %b. %Y")
		.content
			%h1= @post.title
			%p= @post.content

			%p
				%small
					post-replies: 
					= @post.comments.count
				
		
			-if @post.user == current_user
				= link_to "Edit", edit_post_path(@post), class: "button"
				= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button"

	#comments
		= render @post.comments

		%h3 reply to thread
		= render "comments/form"