!!!
%html
%head
	%title Rails Forum App
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	%link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,300,700', rel: 'stylesheet', type: 'text/css' }
	%link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', rel: 'stylesheet', type: 'text/css' }
	%link{ href: '	https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
	%link{ href: '//code.jquery.com/jquery-1.11.3.min.js', type: 'text/javascript' }
	
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header.clearfix
		.container
			= link_to root_path, id: "logo" do
				%p Test

			#buttons
				-if user_signed_in?
					= link_to "New Thread", new_post_path
					= link_to "Logout", destroy_user_session_path, method: :delete
				-else
					= link_to "Sign up", new_user_registration_path
					= link_to "Sign in", new_user_session_path
					

	.container
		%p.notice= notice 
		%p.alert= alert 
	.container
		= yield