!!!
%html
%head
	%title Rails Forum App
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	%link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,300,700', rel: 'stylesheet', type: 'text/css' }
	%link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', rel: 'stylesheet', type: 'text/css' }
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header.clearfix
		.container
			= link_to root_path, id: "logo" do
				%p Forum App

			#buttons
				= link_to "New Post", new_post_path

	.container
		%p.notice= notice 
		%p.alert= alert 
	.container
		= yield